*{
margin:0;
padding:0;
}
/* 2 Columns */
.columns_2 {
  width: 460px;
  float: left;
  margin-right: 20px;
}

.columns_2:last-of-type {
  margin-right: 0;
}

/* 3 Columns */
.columns_3 {
  width: 300px;
  float: left;
  margin-right: 20px;  
  text-align: center;
}

  
.columns_3:last-of-type {
  margin-right: 0;
}

/* 4 Columns */
.columns_4 {
  width: 220px;
  float: left;
  margin-right: 20px;
}

.columns_4:last-of-type {
  margin-right: 0;
}

/* 6 Columns */
.columns_6 {
  width: 140px;
  float: left;
  margin-right: 20px;
}

.columns_6:last-of-type {
  margin-right: 0;
}

/* 12 Columns */
.columns_6 {
  width: 60px;
  float: left;
  margin-right: 20px;
}

.columns_12:last-of-type {
  margin-right: 0;
}
.row{
  width:940px;
  margin-bottom:20px;
  float:left;
}

header{
    background: #A4BCC3;
    padding:20px 0 20px 0;
    top: 0;
    left:0;
    right: 0;
    text-align:center;
    position:fixed;
    width:100%;
    z-index: 1000;
    
  }

 


  .hero-container{
    margin-bottom: 0;
    width: 100%;
    height:100vh;
    z-index:-100;
    position: relative;
    background-size:cover;
    background-image: url("../images/flower-img.jpg") repeat;
   }

   .type-overlay h1{
    width: 100%;
    font-family: 'Signika', sans-serif;
    position: absolute;
    top: 250px;
    z-index: 5;
    text-align: center;
    text-transform: none;
    color:white;
    font-size: 2em;
    text-shadow: black 2px 2px;
   
     }
   
  .container {
    display: block;
    width: 940px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    clear: both;
  }
  
  
  .logo{
    margin:0;
    color: white;

     }
  
  .nav-toggle{
    display:none;
  }
  
  
  nav{
    position:absolute;
    text-align:left;
    top:100%;
    left:0;
    background:#A4BCC3;
    width:100%;
   transform: scale(1,0);
    transition: transform 400ms ease-out;
    transform-origin:top;
  }
  
  nav ul{
   margin:0;
   padding:0;
   list-style:none;
  }
  
  nav li{
    margin-bottom: 1em;
    margin-left:1em;
  }
  
  nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: none;
    opacity: 0;
    transition: opacity 150ms ease-out;
    
  
  }
  
  .nav-toggle:checked ~ nav{
    transform:scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a{
   opacity: 1;
    transition: opacity 250ms ease-out 300ms;
  }
  
  
  nav a:hover{
  color:black;
  }
  
  .nav-toggle-label{
    position:absolute;
    top:0;
    left:0;
    margin-left:1em;
    height: 100%;
    display:flex;
    align-items: center;
  }
  
  .nav-toggle-label span,.nav-toggle-label span::before, .nav-toggle-label span::after{
    display:block;
    background: orange;
    height: 2px;
    width:2em;
    border-radius:2px;
    position:relative;
  }
  
  .nav-toggle-label span::before, .nav-toggle-label span::after{
    content:"";
  }
  
  .nav-toggle-label span::before{
    bottom: 7px;
  }
  
  .nav-toggle-label span::after{
    top:7px;
  }
  @media screen and (min-width:600px){
    .nav-toggle-label{
      display:none;
    }
    header{
      display:grid;
      grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
  .logo{
    grid-column: 2/3;
  }
  
  nav{
    all:unset;
    grid-column: 3/4;
    display:flex;
    justify-content:flex-end;
    align-items: center;
  }
  
  nav ul{
    display:flex;
  }
  
  nav li{
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a{
    opacity:1;
    position: relative;
  }
  
  nav a::before{
    content:"";
    display:block;
    height: 5px;
    background:black;
    position:absolute;
    top:-.5em;
    left:0;
    right:0;
    transform:scale(0,1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before{
    transform:scale(1,1);
  }
 
  
h2{
   text-align: center;
   margin-bottom:100px;
   font-family:'Signika', sans-serif;
   font-size: 1.7em;
 } 

h3{
  font-family: 'Rubik', sans-serif;
  font-weight: 200;
  font-size: .7em;
  margin-top: 10px;
}

 h4{
   font-family: 'Rubik', sans-serif;
   font-weight: 700;
   font-size: 1.2em;
   margin:10px 0;
 }

body{
font-family: sans-serif ;
}
 .row{
  float: left;
  margin-bottom:20px;
}


.hero-button{
  margin: 20px auto;
  z-index:5;
  padding: 5px 15px;
  display:block;
  border-radius: 20px;
  position: absolute;
  top:500px;
  background-color:#A4BCC3;
  color:white;
  width:100px;
  height:40px;
} 

.about{
  padding: 100px 0;
  
}

.about, .donate, .contact{
  width:110% !important;
  margin-left:-20px;
}
.about .row{
  columns:2;
  width:940px !important;

}

.about img{
width: 470px;
height:40%;
margin-top:20px;
}

.events .row{
  columns:3;
}


.about, .donate{
  opacity:100%;
  
  
}

.events{
 padding:100px 0;
}

.events h2{
  color: white;
  margin-left:-30px;
  font-size: 1.7em;
  text-align: center;
  margin-bottom:100px;
  font-family:'Rubik', sans-serif;
}

.wrapper{
  width:100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.box{
  padding: 10px;
  width: 430px;
  border: none;
  text-align: center;
  background-color:  #DFDAB9;
  height:480px;
}

.box-1, .box-2, .box-3{
  margin-bottom: 20px !important;
}


.box img{
  width: 450px;
  height:50%;
  margin-top: -10px;
  margin-left: -10px;
}


.box h3{
  margin:10px 0;
}

.box p{
  margin-bottom:20px;
}
.about, .donate{
  background-image: url("../images/wild-flowers.png");
  background-color:  #DFDAB9 ;
}


.events, .contact{
background-image: url("../images/xv.png");
background-position-x: center;
 }

@media screen and(max-width:940px){
  .wrapper{
    grid-template-columns: 1fr 1fr;
    align-content:center;
  }
}
}

.donate{
  padding:100px 0;
  width:100%;
  background-color: #DFDAB9;
  }

  .donate .row{
    columns:2;
    width:940px;
  }

  .donate img{
    height:400px;
    box-shadow: black 2px;
  }

.radio-label{
  margin: 20px;
  padding-top: 10px;
  margin-top: 20px;
}
.radio{
  margin-top: 20px;
  padding-left:-10px;
  text-align: right;
}

.radio input{
  margin-top: -10px;
  width:200px;
  margin-left: -20px;
  max-width: 200px;
  
  
}

form{
  width: 300px; 
  margin-left: 20px;
  
}
.radio-label{
  font-family: sans-serif;
  color: black;
}

textarea {
  resize: vertical;
  max-height: 100px;
}
input{
  width: 100%;
}

textarea{
  resize: vertical;
  max-height:100px;
}
input,
textarea {
  outline: none;
  border: 1px solid #ddd;
  margin: 10px;
  line-height: 2.5;
  font-size: 1em;
  border-bottom: 1px;
  border-right: 1px; 
  font-size: .7em;
}

.submit-button{
  margin: 20px auto;
  padding: 5px 15px;
  display:block;
  outline: darken;
  border-radius: 10px;
}

.contact{
  padding: 100px 0;

}

footer {
  height: 24vh;
  background:#A4BCC3;
  width:110%;
  display:flex;
  position:1000;
  left: 0;
  right: 0;
  margin-left:-10px;

}

footer .logo {
  margin-top:40px;
  font-size:2em;
  padding:10px;
  margin-left:-415px;
}

footer svg{
padding-right:20px;
}

footer a:link {
  color: white !important;
  text-decoration: none !important;

}

footer a:visited {
  color: purple !important;
  text-decoration: none !important;

}

footer a:hover {
  color: black !important;
  text-decoration: none !important;

}

footer a:active {
  color: white !important;
  text-decoration: none !important;
}

.copyright{
  width: 100%;
  color: white;
  text-decoration: none;
}

.copyright img{
  height:100%;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: -10px;
}

.copyright p{
  margin-bottom: 10px;
  font-family:"Rubik", sans-serif;
  font-weight: 100;
  color: white;
}

.navbar{
  margin-top: 20px;
  font-family:"Rubik", sans-serif !important;  
}

.navbar:a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 0px;
  text-decoration: none;
}


i{
  font-size:1.6em;
}

.screen-reader-text { position: absolute; left: -9999px; top: -9999px; }